/* Setting up colour variables to make things a lot easier for myself */
/* Colour scheme checked with 
    https://contrast-ratio.com/#%237ca361-on-%2326282a 
*/
:root {
    --button-colour: #61892f; /* dark-lime-green | white */
    --nav-colour: #26282a;
    --border-colour: #517428; /* even-darker-lime-green | gray */
    --hero-text-colour: #86c232; /* bright-yellow-green | bright-yellow-green */
    --text-colour: #7ca361; /* light-yellow-green | light-yellow-green */
    --link-colour: #92b976; /* lighter-yellow-green | purple */
    --background-colour: #1b1e20; /* almost-black | white */
    --flex-background-colour: #26282a; /* gray | almost-white */ 
    --table-zebra-colour: #1b1e20;
    --button-text-colour: #fff; /* white | black */
    --nav-hover-colour: #1b1e20;
    --nav-text-colour: #92b976;
    --footer-colour: #26282a;
    --hero-image-top-gradient: rgba(0, 0, 0, 0.5); /* black-semi-transparent */
    --hero-image-bottom-gradient: rgba(0, 0, 0, 0.25); /* black-quarter-transparent */
    --hero-button-hover: rgba(110, 110, 110, 0.25); /* half-black */

    --hero-image-background: linear-gradient(var(--hero-image-top-gradient), var(--hero-image-bottom-gradient)), url("../Images/csharpbackground2light.png");
}

/* Width of scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
/* Colour of scroll track */
::-webkit-scrollbar-track {
    background: var(--background-colour);
}
/* Colour of scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: var(--button-colour);
}
/* Colour of scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--border-colour);
}

body, html {
    scroll-behavior: smooth;
    height: 100%;
    background-color: var(--background-colour);
    font-family: 'Courier New', Courier, monospace;
}

/* The hero image */
.hero-image {
    background-image: var(--hero-image-background);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Text in middle of image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--hero-text-colour);
}

/* Hero button styling */
.hero-button {
    background-color: var(--button-colour);
    border: none;
    color: var(--button-text-colour);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
/* Apply shadow when hovering over hero button */
.hero-button-hover:hover {
    box-shadow: 0 12px 16px 0 var(--hero-button-hover), 0 17px 50px 0 var(--hero-button-hover);
}
/* Sets link of button to white */
.hero-button-link {
    color: var(--button-text-colour);
}

/* Sets up the nav bar used for auto-scrolling down the page */
ul {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    overflow: hidden;
    background-color: var(--button-colour);
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
li a {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: var(--button-text-colour);
}
li a:hover {
    background-color: var(--nav-hover-colour);
}
.theme-btn:hover {
    cursor: pointer;
}

/* Sets up the vertical flex container for about me section */
.flex-container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 20px 50px;
}
/* Sets alignment for each section of vertical flex container*/
.flex-container-vertical > div {
    background-color: var(--flex-background-colour);
    width: 100%;
    margin: 10px;
    text-align: center;
    color: var(--text-colour);
}
/* If the width of the page is too small*/
@media (max-width: 800px) {
    /* Remove the padding to unsquish the text */
    .flex-container-vertical {
        padding: 0px 0px 0px 0px;
    }
    .flex-container-vertical > div {
        margin: 10px;
    }
}

/* Sets up display for about me/CPD Report sections */
.display-block {
    display: block;
    width: 100%;
    line-height: 2;
    overflow-wrap: break-word;
    margin-right: 5px;
}
.long-text {
    text-align: left;
    padding-left: 20px;
    padding-inline-end: 0%;
}
/* Sets up the floating alignment for each subsection */
/* These are with about me section */
.education {
    text-align: left;
    padding-left: 20px;
    padding-inline-end: 30%;
}
.education img {
    text-align: none; /* Overrides text-align in education class */
    float: left;
}
.experience {
    text-align: right;
    padding-right: 20px;
    padding-inline-start: 30%;
}
.experience img {
    text-align: none; /* Overrides text-align in experience class */
    float: right;
}
.link {
    color: var(--link-colour);
}
.interests {
    text-align: left;
    padding-left: 20px;
    padding-inline-end: 30%;
}
/* These are CPD Report section */
/* Sets up the flex container (horizontally) */
.flex-container-horizontal {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: stretch;
}
/* Sets alignment for each section of horizontal flex container*/
.flex-container-horizontal > div {
    background-color: var(--flex-background-colour);
    width: 100%;
    margin: 5px;
    text-align: center;
    color: var(--text-colour);
    line-height: 75px;
}
/* If the width of the page is too small*/
@media (max-width: 850px) {
    /* Change the .flex-container-horizontal to .flex-container-vertical */
    .flex-container-horizontal {
        flex-direction: column;
    }
}

/* YouTube embed size */
.yt-embed {
    width: 560px;
    height: 315px;
}
/* If the width of the page is too small*/
@media (max-width: 600px) {
    /* Reduce the video embed size */
    .yt-embed {
        width: 440px;
    }
}

/* Sets up the CPD table properties*/
table {
    text-align: left;
    line-height: 2;
    border-spacing: 5px;
    width: 100%;
    padding: 5px;
    border: none;
}
.b {
    width: 50% !important; 
}
th, td {
    text-align: left;
    padding: 10px;
}
/* Adds the "zebra table" effect */
tr:nth-child(odd) {
    background-color: var(--table-zebra-colour);
}

/* Sets up the socials columns */
.socials-column {
    box-shadow: 0 1px 1px 0 var(--border-colour), 0 1px 1px 0 var(--button-colour);
}
.socials-column:hover{
    box-shadow: 0 2px 3px 0 var(--border-colour), 0 5px 5px 0 var(--button-colour);
}
.socials-column-link {
    color: var(--button-text-colour);
}

/* Position the image container (needed to position the left and right arrows) */
.slideshow-container {
    position: relative;
}
/* Hide the images by default */
.slides {
    display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* Position the "prev button" to the left */
.prev {
    left: 0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 0px 0px;
    position: absolute;
    top: 1%;
    left: 17%;
}
/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: var(--link-colour);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Six columns side by side */
.column {
    background-color: #222;
    float: left;
    width: 16.66%;
}
/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}

/* Sets up the page footer */
.footer {
    width: 100%;
    background-color: var(--footer-colour);
    color:var(--text-colour);
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}